{% extends 'core/empty_admin.html.twig' %}
{% block title %}Pracownicy {% endblock %}


{% block stylesheet %}
    <link
{% endblock %}

{% block script %}
    <script>
        $("#").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false,
          "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    </script>
{% endblock %}


{% block mainContent %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Pracownicy w bazie danych</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead>
                    {% set table_header %}
                        <tr>
                            <td>ID</td>
                            <td>Imie</td>
                            <td>Nazwisko</td>
                            <td>Data urodzenia</td>
                            <td>Numer telefonu</td>
                            <td>Zatrudniony od</td>
                            <td>Stanowisko</td>
                            <td>Pensja</td>
                            <td>Akcje</td>
                        </tr>
                    {% endset %}
                {{ table_header }}
                </thead>
                    <tbody>
                        {% for w in workers %}
                            <tr>
                                <td> {{ w.id }} </td>
                                <td> {{ w.name }} </td>
                                <td> {{ w.surname }}</td>
                                <td> {{ w.birthDate|date('d/m/Y') }}</td>
                                <td> {{ w.phoneNumber|default('---') }}</td>
                                <td> {{ w.hiredAt|date('d/m/Y') }}</td>
                                <td> {{ w.workPlace.getName() }}</td>
                                <td> {{ w.bonus + w.workPlace.getMinEarnings() }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-default">Szczegóły</a>
                                        <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu" role="menu" style="">
                                            <a class="dropdown-item" href="#">Edytuj</a>
                                            <a class="dropdown-item" href="#">Usuń</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                <tfoot>
                    {{ table_header }}
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}